@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --custumColor: #0044ff;
  --primaryText: #19345e;
  --orange: #ff4600;
  --blueYoung: #f4f7fc;
  --red: #ff0000;
  --holo: #acacac;
  --white: #fff;
  --black: #222;
  --primaryColor: #fff;
  --seconddaryColor: #707070;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--holo);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  vertical-align: middle;
}

section{
  flex-wrap: wrap;
}

.img-box{
width: 400px;
height: 400px;
margin: 1rem 0rem 6rem 10rem;
}
.rightside{
  margin-top: 2rem;
}

.title-head h1{
color: var(--primaryText);
font-size: 4rem;
font-weight: 700;
}